body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  
  .galleryItem img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    cursor: pointer;
  }
  
  .galleryContainer {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    gap: 20px;
  }
  
  .galleryWrapper {
    padding: 5% 10%;
  }
  
  .filterItem ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding: 0;
    gap: 20px;
    margin-bottom: 30px;
  }
  
  .filterItem ul button {
    background: #1eb2a6;
    color: #fff;
    padding: 8px 46px;
    text-transform: uppercase;
    border: navajowhite;
    font-size: 17px;
    border-radius: 50px;
  }
  
  .filterItem ul button:hover {
    background: #222;
    cursor: pointer;
  }