#app { height: 100% }
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.container{
  width: 100%;
  height: auto;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // text-align: center;
  padding-top: 20px;
}
.title{
  font-size: 45px;
  margin-bottom: 55px;
  margin-top: 30px;
}

.data_career{
  padding-bottom: 30px;
  display: flex;
  justify-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.card_career{
  display: flex;
  flex-direction: row;
  background-color: white;
  padding: 20px;
  width: 100%;
  border-radius: 8px;
  border-left: 5px solid #1eb2a6;
  box-shadow: 3px 2px 4px #1eb2a667;
  justify-content: space-around;
  align-items: center;
}
.logo_career{
  width: 150px;
  height: auto;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
}
.name_career{
  margin-right: auto;
  display: flex;
  flex-direction: column;
  text-align: left;
}
.job_career{
  font-size: 14px;
  font-weight: 700;
  color: #1eb2a6;
  line-height: 14px;
}
.assign_career{
  font-size: 18px;
  font-weight: 700;
}
.loc_career{
  color: black;
  font-size: 15px;
  display: flex;
  align-items: center;
  padding-top: 15px;
  gap: 5px;
}
.icon_loc{
  color: #1eb2a6;
  display: flex;
  align-items: center; 
}
.q_career{
  font-size: 15px;
  color: black;
  display: flex;
  align-items: center;
  padding-top: 3px;
  gap: 5px;
}
.req_career{
  font-size: 15px;
  padding-top: 5px;
}

button {
  background-color: #1eb2a6;
  color: #fff;
  font-size: 10px;
  padding: 10px 24px;
}

a{
  color: #fff;
}
button:hover{
  color: #fff;
  background-color: rgb(2, 79, 89);
}

@media screen and (max-width: 768px){
  .logo_career{
    height: auto;
  }
  .container{
    padding-top: 35%;
  }

  button{
    margin-bottom: 150px;
  }
  
}


